<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: myheader">

</head>
<body>
<div th:insert="fragments/navigation :: nav"></div>
<div class="container container-fluid shadow p-5  bg-white">
    <div class="row">
        <div class="col mt-5">
            <form action="#" th:action="@{/resume/icon/update/{id}(id=${icon.id})}" th:object="${icon}" method="post">
                <div class="form-group  col-sm-12 col-md-3">
                    <label for="name">Name</label>
                    <input class="form-control" type="text" th:field="*{name}" id="name" placeholder="Name">
                    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                </div>


                <div class="form-group   col-sm-12 col-md-3">
                    <label for="color">Color</label>
                    <input class="form-control" type="color" th:field="*{color}" id="color" >
                    <span th:if="${#fields.hasErrors('color')}" th:errors="*{color}"></span>
                </div>
                <div class="form-group   col-sm-12 col-md-3">
                    <label for="size">size</label>
                    <select th:field="*{size}" class="form-control"   id="size" placeholder="size" >
                        <option th:selected="${size} == 'fa-xs' ? true : false"  th:value="'fa-xs'" th:text="fa-xs"></option>
                        <option th:selected="${size} == 'fa-sm' ? true : false" th:value="'fa-sm'" th:text="fa-sm"></option>
                        <option th:selected="${size} == 'fa-lg' ? true : false" th:value="'fa-lg'" th:text="fa-lg"></option>
                        <option th:selected="${size} == 'fa-2x' ? true : false" th:value="'fa-2x'" th:text="fa-2x"></option>
                        <option th:selected="${size} == 'fa-3x' ? true : false" th:value="'fa-3x'" th:text="fa-3x"></option>
                        <option th:selected="${size} == 'fa-5x' ? true : false" th:value="'fa-5x'" th:text="fa-5x"></option>
                        <option th:selected="${size} == 'fa-7x' ? true : false" th:value="'fa-7x'" th:text="fa-7x"></option>
                        <option th:selected="${size} == 'fa-10x' ? true : false" th:value="'fa-10x'" th:text="fa-10x"></option>
                    </select>
                    <span th:if="${#fields.hasErrors('size')}" th:errors="*{size}"></span>
                </div>



                <input  class="btn btn-primary" type="submit" value="Update">
            </form>

        </div>
    </div>
</div>
<div th:insert="fragments/footer :: foot"></div>
</body>
</html>