<html xmlns:th="http://www.w3.org/1999/xhtml">
<body>

<div id="footer" th:fragment="foot">

    <script  type="text/javascript" src="/js/jquery-3.3.1.slim.min.js" th:href="@{/jsjquery-3.3.1.slim.min.js}" ></script>
    <script  type="text/javascript" src="/js/popper.min.js" th:href="@{/js/popper.min.js}"></script>
    <script  type="text/javascript" src="/js/bootstrap.min.js" th:href="@{/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"/>
</div>

</body>
</html>