<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<body>
<div id="navigation" th:fragment="nav">
    <nav class="navbar navbar-expand-lg navbar-light shadow-sm fixed-top">
        <a class="navbar-brand mb-0 h1 font-weight-bold text-uppercase" th:utext="${data.getAuth().getName()}">..!..</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Security
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#" th:href="@{/security/signup}">adduser</a>
                        <a class="dropdown-item" href="#" th:href="@{/security/index}">all Users</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Resume
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#" th:href="@{/resume/icon/add}">adduser</a>
                        <a class="dropdown-item" href="#" th:href="@{/resume/icon/index}">all icons</a>
                    </div>
                </li>
            </ul>
            <span class="navbar-text">
                 <a th:if="!${data.isAuth()}" href="/login">login</a>
                 <a th:if="${data.isAuth()}" href="#" th:href="@{/logout}">Log Out</a>
            </span>
        </div>
    </nav>
</div>
</body>
</html>