<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<body>
<div  th:fragment="sidebarMenu">


    <nav id="sidebarMenu"  class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="sidebar-sticky pt-3">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="#">
                        <span data-feather="home"></span> Dashboard <span class="sr-only">(current)</span>
                    </a>
                </li>


                <li class="nav-item">
                    <a class="nav-link" sec:authorize-url="/security/index" href="#" th:href="@{/security/index}">
                        <span data-feather="users"></span> Users
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" sec:authorize-url="/resume/icon/index" href="#" th:href="@{/resume/icon/index}">
                        <span data-feather="grid"></span> Icons
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" sec:authorize-url="/resume/technologie/index" href="#" th:href="@{/resume/technologie/index}">
                        <span data-feather="cpu"></span> Technologie
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" sec:authorize-url="/resume/item/index" href="#" th:href="@{/resume/item/index}">
                        <span data-feather="list"></span> Items
                    </a>
                </li>

                <li th:if="!${data.isAuth()}" class="nav-item">
                    <a class="nav-link" sec:authorize-url="/security/signup" href="#" th:href="@{/security/signup}">
                        <span data-feather="user-plus"></span> Signup
                    </a>
                </li>




                <!-- https://feathericons.com/ -->

            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                <span>Structure</span>
                <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
                    <span data-feather="layers"></span>
                </a>
            </h6>
            <ul class="nav flex-column mb-2">

                <li class="nav-item">
                    <a class="nav-link" sec:authorize-url="/person/index" href="#" th:href="@{/person/index}">
                        <span data-feather="users"></span> Person
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" sec:authorize-url="/team/index" href="#" th:href="@{/team/index}">
                        <span data-feather="octagon"></span> Teams
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" sec:authorize-url="/business/job/index" href="#" th:href="@{/business/job/index}">
                        <span data-feather="octagon"></span> jobs
                    </a>
                </li>

            </ul>
        </div>
    </nav>
</div>
</body>
</html>