<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: myheader">

</head>
<body>
<div th:insert="fragments/navigation :: nav"></div>
<div class="container-fluid shadow bg-white">
    <div class="row">
        <div class="col mt-5">
            <form action="#" th:action="@{/resume/technologie/addtechnologie}" th:object="${technologie}"  enctype="multipart/form-data" method="post">

                <div class="form-group  col-sm-12 col-md-3">
                    <label for="name">Name</label>
                    <input class="form-control" type="text" th:field="*{name}" id="name" placeholder="Name">
                    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                </div>
                <div class="form-group  col-sm-12 col-md-3">
                    <label for="url">Url</label>
                    <input class="form-control" type="text" th:field="*{url}" id="url" placeholder="url">
                    <span th:if="${#fields.hasErrors('url')}" th:errors="*{url}"></span>
                </div>
                <div class="form-group  col-sm-12 col-md-3">
                    <label for="description">Description</label>
                    <input class="form-control" type="text" th:field="*{description}" id="description" placeholder="description">
                    <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
                </div>
                <div class="form-group  col-sm-12 col-md-3">
                    <label for="description">levels</label>
                    <input class="form-control" type="number" max="10" min="1" value="5" th:field="*{levels}"
                           id="levels" placeholder="levels">
                    <span th:if="${#fields.hasErrors('levels')}" th:errors="*{levels}"></span>
                </div>

                <div class="form-group  col-sm-12 col-md-3">
                    <label for="file">Photos: </label>
                    <input type="file" th:field="*{file}" id="file" accept="image/png, image/jpeg" />
                    <span th:if="${#fields.hasErrors('file')}" th:errors="*{file}"></span>
                </div>

                <input class="btn btn-primary" type="submit" value="Add">

            </form>
        </div>
    </div>
</div>
<div th:insert="fragments/footer :: foot"></div>
</body>
</html>